-
  function getList(listName, activePage = "") {
    let classNamesList;
    activePage = activePage.toLowerCase();
    // "activePage" is optional parameter which is needed for nav. bar: it
    // represents which tab should have "active" class modifier.

    switch (listName) {
      case "tabs":
        classNamesList = ["nav-tab"];
        return [{
          href: "home.html",
          title: "HOME",
          classNamesList: (activePage === "home") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "about.html",
          title: "ABOUT",
          classNamesList: (activePage === "about") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "contact.html",
          title: "CONTACT",
          classNamesList: (activePage === "contact") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }];

      case "tabsExtended":
        classNamesList = ["nav-tab"];
        return [{
          href: "home.html",
          title: "HOME",
          classNamesList: (activePage === "home") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "about.html",
          title: "ABOUT",
          classNamesList: (activePage === "about") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "work.html",
          title: "WORK",
          classNamesList: (activePage === "work") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "process.html",
          title: "PROCESS",
          classNamesList: (activePage === "process") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "services.html",
          title: "SERVICES",
          classNamesList: (activePage === "services") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "testimonials.html",
          title: "TESTIMONIALS",
          classNamesList: (activePage === "testimonials") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "contact.html",
          title: "CONTACT",
          classNamesList: (activePage === "contact") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }];

      case "siteSections1":
        classNamesList = ["footer-item", "footer__item"];
        return [{
          classNamesList: classNamesList,
          href: "",
          title: "Projects"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "About"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Services"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Carreer"
        }];
  
      case "siteSections2":
        classNamesList = ["footer-item", "footer__item"];
        return [{
          classNamesList: classNamesList,
          href: "",
          title: "News"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Events"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Contact"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Legals"
        }];
  
      case "socialNetworks":
        classNamesList = ["footer-item", "footer__item"];
        return [{
          classNamesList: classNamesList,
          href: "",
          title: "Facebook"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Twitter"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Instagram"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Dribbble"
        }];

      case "statisticsItems":
        return [{
          description: "PROJECTS COMPLETED",
          icon: "briefcase",
          numbers: 548
        }, {
          description: "WORKING HOURS",
          icon: "clock",
          numbers: 1465
        }, {
          description: "POSITIVE FEEDBACKS",
          icon: "star",
          numbers: 612
        }, {
          description: "HAPPY CLIENTS",
          icon: "heart",
          numbers: 735
        }];
  
      default:
        return [];
    }
  }