-
  function getList(listName, activePage = "") {
    let classNamesList;
    activePage = activePage.toLowerCase();
    // "activePage" is optional parameter which is needed for nav. bar: it
    // represents which tab should have "active" class modifier.

    switch (listName) {
      case "features":
        return [{
          icon: "diamond",
          title: "ui / ux design",
          description: "Be set fourth land god darkness make it wherein own"
        }, {
          icon: "arc",
          title: "web development",
          description: "A she'd them bring void moving third she'd kind fill"
        }, {
          icon: "phone",
          title: "app / mobile",
          description: "Dominion man second spirit he, earth they're creeping"
        }, {
          icon: "joy",
          title: "game design",
          description: "Morning his saying moveth it multiply appear life be"
        }, {
          icon: "plane",
          title: "SEO / marketing",
          description: "Give won't after land fill creeping meat you, may"
        }, {
          icon: "star",
          title: "photography",
          description: "Creepeth one seas cattle grass give moving saw give"
        }, {
          icon: "magic-wand",
          title: "graphic design",
          description: "Open, great whales air rule for, fourth life whales"
        }, {
          icon: "paint-bucket",
          title: "illustrations",
          description: "Whales likeness hath, man kind for them air two won't"
        }];

      case "siteSections1":
        classNamesList = ["footer__item"];
        return [{
          classNamesList: classNamesList,
          href: "",
          title: "Projects"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "About"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Services"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Carreer"
        }];
  
      case "siteSections2":
        classNamesList = ["footer__item"];
        return [{
          classNamesList: classNamesList,
          href: "",
          title: "News"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Events"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Contact"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Legals"
        }];
  
      case "socialNetworks":
        classNamesList = ["footer__item"];
        return [{
          classNamesList: classNamesList,
          href: "",
          title: "Facebook"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Twitter"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Instagram"
        }, {
          classNamesList: classNamesList,
          href: "",
          title: "Dribbble"
        }];

      case "statistics":
        return [{
          description: "PROJECTS COMPLETED",
          icon: "briefcase",
          numbers: 548
        }, {
          description: "WORKING HOURS",
          icon: "clock",
          numbers: 1465
        }, {
          description: "POSITIVE FEEDBACKS",
          icon: "star",
          numbers: 612
        }, {
          description: "HAPPY CLIENTS",
          icon: "heart",
          numbers: 735
        }];

      case "tabs":
        classNamesList = ["nav-tab"];
        return [{
          href: "home.html",
          title: "HOME",
          classNamesList: (activePage === "home") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "about.html",
          title: "ABOUT",
          classNamesList: (activePage === "about") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "contact.html",
          title: "CONTACT",
          classNamesList: (activePage === "contact") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }];

      case "tabsExtended":
        classNamesList = ["nav-tab"];
        return [{
          href: "home.html",
          title: "HOME",
          classNamesList: (activePage === "home") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "about.html",
          title: "ABOUT",
          classNamesList: (activePage === "about") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "work.html",
          title: "WORK",
          classNamesList: (activePage === "work") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "process.html",
          title: "PROCESS",
          classNamesList: (activePage === "process") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "services.html",
          title: "SERVICES",
          classNamesList: (activePage === "services") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "testimonials.html",
          title: "TESTIMONIALS",
          classNamesList: (activePage === "testimonials") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }, {
          href: "contact.html",
          title: "CONTACT",
          classNamesList: (activePage === "contact") ?
            [classNamesList[0], `${classNamesList[0]}_active`] :
            classNamesList
        }];

      case "testimonials":
        return [{
          blockquote: "Cite 1",
          author: "Author 1",
          index: 0
        }, {
          blockquote: `Outstanding job and exceeded all expectations. It
            was a pleasure to work with them on a sizable first project
            and am looking forward to start the next one asap.`,
          author: "Michael Hopkins",
          index: 1
        }, {
          blockquote: "Cite 3",
          author: "Author 3",
          index: 2
        }]
  
      default:
        return [];
    }
  }